<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><%= @vision %></h1>
                    <h3><%= @vision_copy %></h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                      <li><a href="/ok" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_count %></span></a>
                      </li>
                      <li><a href="/ng" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_count %></span></a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
<!-- /.container -->

</div>

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                  <%= @section_heading_01 %>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive">
                <a href="https://www.flickr.com/photos/60312252@N00/637535610" title="老城.老人.老鴿. by pigheadskin, on Flickr"><img src="https://farm2.staticflickr.com/1065/637535610_96f2c38fd2.jpg" width="400" height="300" alt="老城.老人.老鴿."></a>
              </img>
            </div>
            <ul class="list-inline intro-social-buttons">
              <li><a href="/ok" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_count %></span></a>
              </li>
              <li><a href="/ng" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_count %></span></a>
              </li>
            </ul>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                  <%= @section_heading_02 %>
                  <ul class="list-inline intro-social-buttons">
                    <li><a href="/ok" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_count %></span></a>
                    </li>
                    <li><a href="/ng" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_count %></span></a>
                    </li>
                  </ul>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <img class="img-responsive">
                <a href="https://www.flickr.com/photos/tulanesally/5887771701" title="Student Orientation by Tulane Public Relations, on Flickr"><img src="https://farm6.staticflickr.com/5262/5887771701_34f691f4fb.jpg" width="500" height="339" alt="Student Orientation"></a>
              </img>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                  <%= @section_heading_03 %>
                <ul class="list-inline intro-social-buttons">
                  <li><a href="/ok" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_count %></span></a>
                  </li>
                  <li><a href="/ng" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_count %></span></a>
                  </li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive">
                <section class='pricing'>
                <div class='free plan'>
                <h1>
                <span class='plan-name'>Free</span>
                <span class='price'>$ 0</span>
                </h1>
                <div class='pricing-subheadlines'>1 concurrent build</div>
                <div class='pricing-subtext'>50 builds / month</div>
                <div class='pricing-subtext'>5 private projects</div>
                <div class='pricing-subtext'>unlimited team members</div>
                </div>
                <div class='basic plan highlighted'>
                <h1>
                <span class='plan-name'>Basic</span>
                <span class='price'>$ 49</span>
                </h1>
                <div class='pricing-subheadlines'>1 concurrent build</div>
                <div class='pricing-subtext'>unlimited builds</div>
                <div class='pricing-subtext'>unlimited projects</div>
                <div class='pricing-subtext'>unlimited team members</div>
                <div class='pricing-subtext'>premium support</div>
                </div>
                <div class='professional plan'>
                <h1>
                <span class='plan-name'>Pro</span>
                <span class='price'>$ 149</span>
                </h1>
                <div class='pricing-subheadlines'>3 concurrent builds</div>
                <div class='pricing-subtext'>unlimited builds</div>
                <div class='pricing-subtext'>unlimited projects</div>
                <div class='pricing-subtext'>unlimited team members</div>
                <div class='pricing-subtext'>premium support</div>
                </div>
                <div class='sign-up-for-free'>
                <div class='additional-info'>no credit card required</div>
                </div>

                </section>

              </img>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2><%= @last_question %></h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li><a href="/ok" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_count %></span></a>
                    </li>
                    <li><a href="/ng" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_count %></span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
